@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/* Variables */
:root {
  /* Colores */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /* Typo */
  --font-main: "Alata", sans-serif;
  --font-second: "Josefin Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: var(--font-main);
}
/* Estilos generales */
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
/* Estilos generales */

/* Home */
.home {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--black);
  padding: 2rem 0;
  color: var(--white);
}
/* Home */
